.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 430px;
  width: 100%;
  margin-top: 120px;
  padding: 0 375px 0 375px;
  background-color: white;
}
.services__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 30%;
  text-align: center;
  height: 180px;
  margin-bottom: 85px;
}
.services__item svg {
  height: 60px;
}
.services__item h3 {
  font-size: 18px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}
.services__item p {
  color: rgb(51, 51, 51);
  font-size: 16px;
}
